@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@600&display=swap");

body {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  color: #ffffff;
  background-color: rgb(16, 19, 22);
}

.logo {
  height: 75px;
  margin-top:4px;
  padding-left: 50px;
  padding-right: 50px;
  vertical-align: middle;
}
  
.topnav {
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
  border: 2px solid;
  border-color: rgb(48, 144, 72);
  text-align: center;
  width: 99%;
}

.navbar-element {
  display: inline-block;
  vertical-align: middle;
}


.topnav a {
  color: #f2f2f2;

  background-color: rgb(0, 0, 0);
  padding: 10px 30px;
  border-radius: 20px;
  border: 2px solid;
  border-color: rgb(48, 144, 72);

  font-size: 20px;
  
}




  
.topnav input {
  color: rgb(255, 255, 255);
  background-color: white;

  padding: 10px 8px;
  font-size: 20px;
  text-align: left;


  background-color: rgb(0, 0, 0);
  padding: 10px 30px;
  border-radius: 20px;
  border: 2px solid;
  border-color: rgb(48, 144, 72);

}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 98%;
}







.ck-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.ck-label label {
  color: #ffffff;
}

@keyframes heart {
  0%,
  17.5% {
    font-size: 0;
  }
}
input[type="checkbox"]:checked + label {
  color: #e2264d;
  animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

#options {
  width: 50%;
  float: left;
}
#indicators {
  width: 50%;
  float: left;
}
#products {
  margin: auto;
  padding: 300px 0px 0px 0px;
  /*background-color:white;*/
  text-align: center;
}